In [9]:
X

,const,Unnamed: 0,MODON_B,MODON_E,MODON_F,MODON_G,CHONGSAN,SILSAN,MILA,SASAN,EU
6,1.0,633,31.0,33.0,20.0,47.0,325.0,297.0,3.0,25.0,318.0
7,1.0,634,40.0,34.0,6.0,50.0,449.0,427.0,12.0,10.0,340.0
8,1.0,635,26.0,41.0,9.0,37.0,276.0,264.0,5.0,7.0,419.0
9,1.0,636,44.0,33.0,7.0,49.0,445.0,429.0,1.0,15.0,306.0
11,1.0,638,53.0,31.0,16.0,44.0,542.0,534.0,1.0,7.0,290.0
...,...,...,...,...,...,...,...,...,...,...,...
5174,1.0,31323,24.0,17.0,5.0,25.0,293.0,275.0,1.0,17.0,200.0
5175,1.0,31324,19.0,18.0,3.0,23.0,232.0,225.0,1.0,6.0,205.0
5178,1.0,31327,20.0,23.0,4.0,23.0,254.0,240.0,2.0,12.0,255.0
5194,1.0,31343,20.0,21.0,1.0,24.0,243.0,232.0,2.0,9.0,205.0
5195,1.0,31344,22.0,20.0,5.0,26.0,279.0,258.0,1.0,20.0,210.0

In [10]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
df = pd.read_csv("/mnt/c/Users/82108/DA/소스코드/01. pig_shipment_arrangement/01. pig_shipment_arrangement/00. Rawdata/10. Dataset/01. 농가 선별 데이터셋.csv", index_col = 0)
df = df.dropna()
X = df.drop(["farm_ekape", "farm_pigplan_modon", "date", "count", "sum"], axis = 1)
y = df["sum"]

# 상수항 추가
X = sm.add_constant(X)

# 후진 제거법 함수 정의
def backward_elimination(X, y, significance_level=0.1):
    num_vars = X.shape[1]
    for i in range(num_vars):
        model = sm.OLS(y, X).fit()
        max_p_value = max(model.pvalues)
        if max_p_value > significance_level:
            excluded_var = model.pvalues.idxmax()
            X = X.drop([excluded_var], axis=1)
            print(f"Removed {excluded_var} with p-value {max_p_value}")
        else:
            break
    return X

# 후진 제거법 실행
X_optimized = backward_elimination(X, y)

# 최종 모델 학습 및 결과 확인
final_model = sm.OLS(y, X_optimized).fit()
print(final_model.summary())

Removed SILSAN with p-value 0.4648736330077523
Removed SASAN with p-value 0.8250890745126982
Removed MODON_B with p-value 0.2698708279467752
Removed MILA with p-value 0.12785164745168262
                            OLS Regression Results
==============================================================================
Dep. Variable:                    sum   R-squared:                       0.414
Model:                            OLS   Adj. R-squared:                  0.413
Method:                 Least Squares   F-statistic:                     338.6
Date:                Tue, 27 Aug 2024   Prob (F-statistic):          6.83e-275
Time:                        18:03:49   Log-Likelihood:                -13862.
No. Observations:                2403   AIC:                         2.774e+04
Df Residuals:                    2397   BIC:                         2.777e+04
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         37.4076      3.644     10.265      0.000      30.262      44.554
MODON_E       -4.6653      0.706     -6.611      0.000      -6.049      -3.281
MODON_F        0.8053      0.366      2.199      0.028       0.087       1.523
MODON_G        0.6773      0.228      2.974      0.003       0.231       1.124
CHONGSAN       0.1185      0.020      5.855      0.000       0.079       0.158
EU             0.7650      0.065     11.760      0.000       0.637       0.893
==============================================================================
Omnibus:                       21.031   Durbin-Watson:                   1.294
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               25.392
Skew:                           0.149   Prob(JB):                     3.06e-06
Kurtosis:                       3.405   Cond. No.                         922.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# hello world
- Hello World!를 출력하시오.

In [1]:
print("Hello World!")

Hello World!

# A+B
- 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [5]:
a, b = map(int, input().split())
print(a + b)

3

# A-B
- 두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.

In [6]:
a, b = map(int, input().split())
print(a - b)

1

# AxB
- 두 정수 A와 B를 입력받은 다음, AxB를 출력하는 프로그램을 작성하시오.

In [7]:
a, b = map(int, input().split())
print(a * b)

2

# 사칙연산
- 두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오.

In [12]:
a, b = map(int, input().split())
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)

10
4
21
2
1

# ??!
- 준하는 사이트에 회원가입을 하다가 joonas라는 아이디가 이미 존재하는 것을 보고 놀랐다. 준하는 놀람을 ??!로 표현한다. 준하가 가입하려고 하는 사이트에 이미 존재하는 아이디가 주어졌을 때, 놀람을 표현하는 프로그램을 작성하시오.

In [13]:
id = input()
print(id+"??!")

joonas??!

# 1998년생인 내가 태국에서는 2541년생?!
- ICPC Bangkok Regional에 참가하기 위해 수완나품 국제공항에 막 도착한 팀 레드시프트 일행은 눈을 믿을 수 없었다. 공항의 대형 스크린에 올해가 2562년이라고 적혀 있던 것이었다.
- 불교 국가인 태국은 불멸기원(佛滅紀元), 즉 석가모니가 열반한 해를 기준으로 연도를 세는 불기를 사용한다. 반면, 우리나라는 서기 연도를 사용하고 있다. 불기 연도가 주어질 때 이를 서기 연도로 바꿔 주는 프로그램을 작성하시오.

In [15]:
year = int(input())
print(year - 543)

1998

# 나머지
- (A+B)%C는 ((A%C) + (B%C))%C 와 같을까?
- (A×B)%C는 ((A%C) × (B%C))%C 와 같을까?
- 세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.

In [17]:
a, b, c = map(int, input().split())
print((a+b)%c)
print(((a%c)+(b%c))%c)
print((a*b)%c)
print(((a%c)*(b%c))%c)

1
1
0
0

# 곱셈

In [42]:
num = """472
385"""
a, b = num.split('\n')
a = int(a)
# a = int(input())
# b = input()
print(a*int(b[2]))
print(a*int(b[1]))
print(a*int(b[0]))
print(a*int(b))

2360
3776
1416
181720

In [45]:
num = """472
385"""
a, b = num.split('\n')
a = int(a)
# a = int(input())
# b = input()
b_1 = int(b[-1])
b_10 = int(b[-2])
b_100 = int(b[-3])
b = int(b)
b_lst = [b_1, b_10, b_100, b]

for i in b_lst :
    print(a*i)

2360
3776
1416
181720

# 꼬마 정민
- 꼬마 정민이는 이제 A + B 정도는 쉽게 계산할 수 있다. 이제 A + B + C를 계산할 차례이다!

In [46]:
a, b, c = map(int, input().split())
print(a+b+c)

7931

# 고양이
- 아래 예제와 같이 고양이를 출력하시오.

In [1]:
# \    /\
#  )  ( ')
# (  /  )
#  \(__)|

import warnings
warnings.filterwarnings("ignore")

In [2]:
print("\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \\(__)|)")

\    /\
 )  ( ')
(  /  )
 \(__)|)

# 개
- 아래 예제와 같이 개를 출력하시오.

In [ ]:
# |\_/|
# |q p|   /}
# ( 0 )"""\
# |"^"`    |
# ||_/=\\__|

In [5]:
print("|\\_/|")
print("|q p|   /}")
print('( 0 )"""\\')
print('|"^"`    |')
print("||_/=\\\\__|")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|