## 7. 셀 영역 1

In [1]:
from openpyxl import Workbook
from openpyxl.utils.cell import coordinate_from_string
import numpy
import pandas
from random import randint

In [2]:
wb = Workbook()

In [3]:
ws = wb.active

In [4]:
ws.append(["번호", "영어", "수학"])
for i in range(1, 11) :
    ws.append([i, randint(0, 100), randint(0, 100)])

In [5]:
col_B =ws["B"]
print(col_B)
for cell in col_B :
    print(cell.value, end = " ")

(<Cell 'Sheet'.B1>, <Cell 'Sheet'.B2>, <Cell 'Sheet'.B3>, <Cell 'Sheet'.B4>, <Cell 'Sheet'.B5>, <Cell 'Sheet'.B6>, <Cell 'Sheet'.B7>, <Cell 'Sheet'.B8>, <Cell 'Sheet'.B9>, <Cell 'Sheet'.B10>, <Cell 'Sheet'.B11>)
영어 16 27 73 82 5 76 23 7 44 42

In [6]:
col_range =ws["B:C"]
print(col_range)
for cols in col_range :
    for cell in cols :
        print(cell.value)

((<Cell 'Sheet'.B1>, <Cell 'Sheet'.B2>, <Cell 'Sheet'.B3>, <Cell 'Sheet'.B4>, <Cell 'Sheet'.B5>, <Cell 'Sheet'.B6>, <Cell 'Sheet'.B7>, <Cell 'Sheet'.B8>, <Cell 'Sheet'.B9>, <Cell 'Sheet'.B10>, <Cell 'Sheet'.B11>), (<Cell 'Sheet'.C1>, <Cell 'Sheet'.C2>, <Cell 'Sheet'.C3>, <Cell 'Sheet'.C4>, <Cell 'Sheet'.C5>, <Cell 'Sheet'.C6>, <Cell 'Sheet'.C7>, <Cell 'Sheet'.C8>, <Cell 'Sheet'.C9>, <Cell 'Sheet'.C10>, <Cell 'Sheet'.C11>))
영어
16
27
73
82
5
76
23
7
44
42
수학
25
50
97
31
13
37
7
16
99
79

In [7]:
row_title = ws["1"]
print(row_title)
for cell in row_title :
    print(cell.value, end = " ")

(<Cell 'Sheet'.A1>, <Cell 'Sheet'.B1>, <Cell 'Sheet'.C1>)
번호 영어 수학

In [8]:
row_range =ws["2:6"]
print(row_range)

((<Cell 'Sheet'.A2>, <Cell 'Sheet'.B2>, <Cell 'Sheet'.C2>), (<Cell 'Sheet'.A3>, <Cell 'Sheet'.B3>, <Cell 'Sheet'.C3>), (<Cell 'Sheet'.A4>, <Cell 'Sheet'.B4>, <Cell 'Sheet'.C4>), (<Cell 'Sheet'.A5>, <Cell 'Sheet'.B5>, <Cell 'Sheet'.C5>), (<Cell 'Sheet'.A6>, <Cell 'Sheet'.B6>, <Cell 'Sheet'.C6>))

In [9]:
for rows in row_range :
    for cell in rows :
        print(cell.value, end = " ")
    print()

1 16 25
2 27 50
3 73 97
4 82 31
5 5 13

In [10]:
row_range =ws[2:ws.max_row]
for rows in row_range :
    for cell in rows :
        print(cell.value, end = " ")
    print()

1 16 25
2 27 50
3 73 97
4 82 31
5 5 13
6 76 37
7 23 7
8 7 16
9 44 99
10 42 79

In [11]:
for rows in row_range :
    for cell in rows :
        print(cell.coordinate, end = " ")
    print()

A2 B2 C2
A3 B3 C3
A4 B4 C4
A5 B5 C5
A6 B6 C6
A7 B7 C7
A8 B8 C8
A9 B9 C9
A10 B10 C10
A11 B11 C11

In [12]:
for rows in row_range :
    for cell in rows :
        xy = coordinate_from_string(cell.coordinate)
        print(xy, end = " ")
        print(xy[0], end = " ")
        print(xy[1], end = " ")
    print()

('A', 2) A 2 ('B', 2) B 2 ('C', 2) C 2
('A', 3) A 3 ('B', 3) B 3 ('C', 3) C 3
('A', 4) A 4 ('B', 4) B 4 ('C', 4) C 4
('A', 5) A 5 ('B', 5) B 5 ('C', 5) C 5
('A', 6) A 6 ('B', 6) B 6 ('C', 6) C 6
('A', 7) A 7 ('B', 7) B 7 ('C', 7) C 7
('A', 8) A 8 ('B', 8) B 8 ('C', 8) C 8
('A', 9) A 9 ('B', 9) B 9 ('C', 9) C 9
('A', 10) A 10 ('B', 10) B 10 ('C', 10) C 10
('A', 11) A 11 ('B', 11) B 11 ('C', 11) C 11

In [13]:
for rows in row_range :
    for cell in rows :
        xy = coordinate_from_string(cell.coordinate)
        print(xy[0], end = "")
        print(xy[1], end = " ")
    print()

A2 B2 C2
A3 B3 C3
A4 B4 C4
A5 B5 C5
A6 B6 C6
A7 B7 C7
A8 B8 C8
A9 B9 C9
A10 B10 C10
A11 B11 C11

## 8. 셀 영역 2

In [14]:
print(ws.rows)
print(tuple(ws.rows))

<generator object Worksheet._cells_by_row at 0x00000206AF39AB30>
((<Cell 'Sheet'.A1>, <Cell 'Sheet'.B1>, <Cell 'Sheet'.C1>), (<Cell 'Sheet'.A2>, <Cell 'Sheet'.B2>, <Cell 'Sheet'.C2>), (<Cell 'Sheet'.A3>, <Cell 'Sheet'.B3>, <Cell 'Sheet'.C3>), (<Cell 'Sheet'.A4>, <Cell 'Sheet'.B4>, <Cell 'Sheet'.C4>), (<Cell 'Sheet'.A5>, <Cell 'Sheet'.B5>, <Cell 'Sheet'.C5>), (<Cell 'Sheet'.A6>, <Cell 'Sheet'.B6>, <Cell 'Sheet'.C6>), (<Cell 'Sheet'.A7>, <Cell 'Sheet'.B7>, <Cell 'Sheet'.C7>), (<Cell 'Sheet'.A8>, <Cell 'Sheet'.B8>, <Cell 'Sheet'.C8>), (<Cell 'Sheet'.A9>, <Cell 'Sheet'.B9>, <Cell 'Sheet'.C9>), (<Cell 'Sheet'.A10>, <Cell 'Sheet'.B10>, <Cell 'Sheet'.C10>), (<Cell 'Sheet'.A11>, <Cell 'Sheet'.B11>, <Cell 'Sheet'.C11>))

In [15]:
print(tuple(ws.columns))

((<Cell 'Sheet'.A1>, <Cell 'Sheet'.A2>, <Cell 'Sheet'.A3>, <Cell 'Sheet'.A4>, <Cell 'Sheet'.A5>, <Cell 'Sheet'.A6>, <Cell 'Sheet'.A7>, <Cell 'Sheet'.A8>, <Cell 'Sheet'.A9>, <Cell 'Sheet'.A10>, <Cell 'Sheet'.A11>), (<Cell 'Sheet'.B1>, <Cell 'Sheet'.B2>, <Cell 'Sheet'.B3>, <Cell 'Sheet'.B4>, <Cell 'Sheet'.B5>, <Cell 'Sheet'.B6>, <Cell 'Sheet'.B7>, <Cell 'Sheet'.B8>, <Cell 'Sheet'.B9>, <Cell 'Sheet'.B10>, <Cell 'Sheet'.B11>), (<Cell 'Sheet'.C1>, <Cell 'Sheet'.C2>, <Cell 'Sheet'.C3>, <Cell 'Sheet'.C4>, <Cell 'Sheet'.C5>, <Cell 'Sheet'.C6>, <Cell 'Sheet'.C7>, <Cell 'Sheet'.C8>, <Cell 'Sheet'.C9>, <Cell 'Sheet'.C10>, <Cell 'Sheet'.C11>))

In [16]:
for row in tuple(ws.rows) :
    print(row[2].value)

수학
25
50
97
31
13
37
7
16
99
79

In [17]:
for column in tuple(ws.columns) :
    print(column[0].value)

번호
영어
수학

In [18]:
for row in ws.iter_rows() :
    print(row[2].value)

수학
25
50
97
31
13
37
7
16
99
79

In [19]:
for column in ws.iter_cols() :
    print(column[0].value)

번호
영어
수학

In [20]:
for row in ws.iter_rows(min_row = 2, max_row = 11, min_col = 2, max_col = 3) :
    print(row[0].value, row[1].value)

16 25
27 50
73 97
82 31
5 13
76 37
23 7
7 16
44 99
42 79

In [21]:
for row in ws.iter_rows(min_row = 2, max_row = 11, min_col = 2, max_col = 3) :
    print(row)

(<Cell 'Sheet'.B2>, <Cell 'Sheet'.C2>)
(<Cell 'Sheet'.B3>, <Cell 'Sheet'.C3>)
(<Cell 'Sheet'.B4>, <Cell 'Sheet'.C4>)
(<Cell 'Sheet'.B5>, <Cell 'Sheet'.C5>)
(<Cell 'Sheet'.B6>, <Cell 'Sheet'.C6>)
(<Cell 'Sheet'.B7>, <Cell 'Sheet'.C7>)
(<Cell 'Sheet'.B8>, <Cell 'Sheet'.C8>)
(<Cell 'Sheet'.B9>, <Cell 'Sheet'.C9>)
(<Cell 'Sheet'.B10>, <Cell 'Sheet'.C10>)
(<Cell 'Sheet'.B11>, <Cell 'Sheet'.C11>)

In [22]:
for col in ws.iter_cols(min_row =1, max_row = 5, min_col = 1, max_col = 3) :
    print(col)

(<Cell 'Sheet'.A1>, <Cell 'Sheet'.A2>, <Cell 'Sheet'.A3>, <Cell 'Sheet'.A4>, <Cell 'Sheet'.A5>)
(<Cell 'Sheet'.B1>, <Cell 'Sheet'.B2>, <Cell 'Sheet'.B3>, <Cell 'Sheet'.B4>, <Cell 'Sheet'.B5>)
(<Cell 'Sheet'.C1>, <Cell 'Sheet'.C2>, <Cell 'Sheet'.C3>, <Cell 'Sheet'.C4>, <Cell 'Sheet'.C5>)

In [23]:
wb.save("sample.xlsx")