## csv 형식 저장

In [1]:
import csv

In [2]:
with open('top_cities.csv', 'w', newline='', encoding = 'utf-8') as f:
    writer = csv.DictWriter(f, ['rank', 'city', 'population'])
    writer.writeheader()
    writer.writerows([
        {'rank' : 1, 'city' : '상하이', 'population' : 24150000},
        {'rank' : 2, 'city' : '카라치', 'population' : 23500000},
        {'rank' : 3, 'city' : '베이징', 'population' : 21516000},
        {'rank' : 4, 'city' : '텐진', 'population' : 14722100},
        {'rank' : 5, 'city' : '이스탄불', 'population' : 14160467},
    ])

In [3]:
import chardet

In [4]:
char_dic = chardet.detect(open('top_cities.csv', 'rb').read())

In [5]:
char_dic["encoding"]

'utf-8'

## JSON 형식으로 저장

In [6]:
import json

In [7]:
cities = [
{'rank' : 1, 'city' : '상하이', 'population' : 24150000},
{'rank' : 2, 'city' : '카라치', 'population' : 23500000},
{'rank' : 3, 'city' : '베이징', 'population' : 21516000},
{'rank' : 4, 'city' : '텐진', 'population' : 14722100},
{'rank' : 5, 'city' : '이스탄불', 'population' : 14160467},
]

In [8]:
with open('top_cities.json', 'w') as fw :
    json.dump(cities, fw)

In [9]:
with open('top_cities.json', 'r') as fr :
    json_file = json.load(fr)
    print(json_file)

[{'rank': 1, 'city': '상하이', 'population': 24150000}, {'rank': 2, 'city': '카라치', 'population': 23500000}, {'rank': 3, 'city': '베이징', 'population': 21516000}, {'rank': 4, 'city': '텐진', 'population': 14722100}, {'rank': 5, 'city': '이스탄불', 'population': 14160467}]

## SQLite3 DBMS로 저장

In [10]:
import pandas as pd
import sqlite3
from pandas.io import sql
import os

In [11]:
DB_NAME = 'top_cities.db'
TABLE_NAME = "TOP_CITIES"

In [12]:
def db_save(df, db_name, table_name) :
    with sqlite3.connect(db_name) as con :
        try :
            df.to_sql(name = table_name, con = con, index = False,
                      if_exists = 'append')
        except Exception as e :
            print(str(e))
        print(len(df), '건 저장완료..')

In [13]:
def db_select(df, db_name, table_name) :
    with sqlite3.connect(db_name) as con :
        try :
            query = 'SELECT * FROM {}'.format(table_name)
            df = pd.read_sql(query, con = con)
        except Exception as e :
            print(str(e))
            return df

In [14]:
def db_select(df, db_name, table_name) :
    with sqlite3.connect(db_name) as con :
        try :
            cur = con.cursor()
            sql = "DELETE FROM {}".format(table_name)
            cur.excute(sql)
        except Exception as e :
            print(str(e))