In [1]:
import pandas as pd
import numpy as np

In [2]:
smoke_data = pd.DataFrame(
    {"나이그룹" : [10, 10, 10, 10, 10, 10, 10, 10, 10, 10,
               20, 20, 20, 20, 20, 20, 20, 20, 20, 20,
               30, 30, 30, 30, 30, 30, 30, 30, 30, 30],
     "흡연여부" : ["유", "유", "무", "무", "무", "무", "무", "무", "무", "무",
               "유", "유", "유", "유", "유", "무", "무", "무", "무", "무",
               "유", "유", "유", "유", "유", "유", "유", "무", "무", "무"]
    }
)
smoke_data

    나이그룹 흡연여부
0     10    유
1     10    유
2     10    무
3     10    무
4     10    무
5     10    무
6     10    무
7     10    무
8     10    무
9     10    무
10    20    유
11    20    유
12    20    유
13    20    유
14    20    유
15    20    무
16    20    무
17    20    무
18    20    무
19    20    무
20    30    유
21    30    유
22    30    유
23    30    유
24    30    유
25    30    유
26    30    유
27    30    무
28    30    무
29    30    무

In [3]:
data_crosstab = pd.crosstab(smoke_data["나이그룹"],
                            smoke_data["흡연여부"], margins = False)
data_crosstab

흡연여부  무  유
나이그룹
10    8  2
20    5  5
30    3  7

In [4]:
p_10 = data_crosstab.loc[10].sum() / data_crosstab.values.sum()
print("10대 확률 :", p_10)
p_20 = data_crosstab.loc[20].sum() / data_crosstab.values.sum()
print("20대 확률 :", p_20)
p_30 = data_crosstab.loc[30].sum() / data_crosstab.values.sum()
print("30대 확률 :", p_30)

p_smok = data_crosstab["유"].sum() / data_crosstab.values.sum()
print("전체 흡연 확률 :", p_smok)
p_smok_non = data_crosstab["무"].sum() / data_crosstab.values.sum()
print("전체 비흡연 확률 :", p_smok_non)

10대 확률 : 0.3333333333333333
20대 확률 : 0.3333333333333333
30대 확률 : 0.3333333333333333
전체 흡연 확률 : 0.4666666666666667
전체 비흡연 확률 : 0.5333333333333333

In [8]:
p_smok_given_10 = data_crosstab.loc[10]["유"] / data_crosstab.loc[10].sum()
print("P(흡연|10대) :", p_smok_given_10 )

p_smok_given_20 = data_crosstab.loc[20]["유"] / data_crosstab.loc[20].sum()
print("P(흡연|20대) :", p_smok_given_20 )

p_smok_given_30 = data_crosstab.loc[30]["유"] / data_crosstab.loc[30].sum()
print("P(흡연|30대) :", p_smok_given_30 )

P(흡연|10대) : 0.2
P(흡연|20대) : 0.5
P(흡연|30대) : 0.7

In [11]:
total_p = (p_10 * p_smok_given_10) + (p_20 * p_smok_given_20) + (p_30 * p_smok_given_30)
print("전확률 :", total_p)

p_30_smoke_given_30 = (p_30 * p_smok_given_30)
print("P(30대) *P(흡연|30대) :", p_30_smoke_given_30)

p_30_given_smok = p_30_smoke_given_30 / total_p
print("담배피는 사람일 때 30대일 확률 : {}".format(round(p_30_given_smok, 3)))

전확률 : 0.4666666666666667
P(30대) *P(흡연|30대) : 0.2333333333333333
담배피는 사람일 때 30대일 확률 : 0.5

In [12]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [28]:
X, y = load_iris(return_X_y = True)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5, random_state = 0)
nb = GaussianNB()
y_pred = nb.fit(X_train, y_train).predict(X_test)
print(y_pred)

[2 1 0 2 0 2 0 1 1 1 1 1 1 1 1 0 1 1 0 0 2 1 0 0 2 0 0 1 1 0 2 1 0 2 2 1 0
 1 1 1 2 0 2 0 0 1 2 2 1 2 1 2 1 1 2 1 1 2 1 2 1 0 2 1 1 1 1 2 0 0 2 1 0 0
 1]

In [31]:
print("Number of mislabeled points out of a total %d proints : %d" % (X_test.shape[0], (y_test != Y_pred).sum()))

Number of mislabeled points out of a total 75 proints : 4