In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv("minwon.csv",sep = ",", encoding = "cp949")
df.head()

,민원신청번호,제목,접수요약,본문,Unnamed: 4,Unnamed: 5,처리요약,처리내용(최종),처리내용(최초),신청일자,...,처리부서,처리일,처리현황,출처,민원신청경로,민원유형,자민원여부,빈발민원,법령·조문,검색 정확도
0,1AA-2002-0380576,[생활불편신고]불법주차,[횡]부과,63 수 1776차량이 횡단보도를 침범 중이네요\n\n휴일 이라지만 아이들이 없...,NaN,NaN,NaN,1. 안녕하십니까? 귀 가정의 평안을 기원합니다.\n귀하께서 국민신문고를 통해 신청...,NaN,2020-02-16,...,경제교통과,2020-02-19,완료,일반민원,생활불편신고,NaN,자민원,NaN,NaN,55.0
1,1AA-2001-335828,[생활불편신고]불법주차,[밤샘]비부과(노란색번호판 아님),"- 대형차량 지정차고지 위반,\n- 장기주차(밤샘주차) 등으로 신고합니다.\n\n...",NaN,NaN,결과-비부과,1. 안녕하십니까? 귀 가정의 평안을 기원합니다. \n귀하께서 국민신문고를 통해 신...,NaN,2020-01-17,...,경제교통과,2020-01-22,완료,일반민원,생활불편신고,일반민원,자민원,NaN,NaN,54.1
2,1AA-2001-097216,[생활불편신고]불법주차,[풍경채로터리]비부과(사진부족),만성동 시티프라디움-풍경채 사이 회전교차로 불법주차\n전라북도 전주시 덕진구 만...,NaN,NaN,결과-비부과,민원인 요청에 따라 종결처리함,NaN,2020-01-05,...,경제교통과,2020-01-08,완료,일반민원,생활불편신고,취하민원,자민원,NaN,NaN,55.8
3,1AA-2001-097216,[생활불편신고]불법주차,[풍경채로터리]비부과(사진부족),만성동 시티프라디움-풍경채 사이 회전교차로 불법주차\n전라북도 전주시 덕진구 만...,NaN,NaN,결과-비부과,민원인 요청에 따라 종결처리함,NaN,2020-01-05,...,경제교통과,2020-01-08,완료,일반민원,생활불편신고,취하민원,자민원,NaN,NaN,56.7
4,1AA-2001-097220,[생활불편신고]불법주차,[풍경채로터리]비부과(사진부족),만성동 시티프라디움-풍경채 사이 회전교차로 불법주차\n전라북도 전주시 덕진구 만...,NaN,NaN,결과-비부과,민원인 요청에 따라 종결처리함,NaN,2020-01-05,...,경제교통과,2020-01-08,완료,일반민원,생활불편신고,취하민원,자민원,NaN,NaN,55.8

In [7]:
df1 = pd.DataFrame(df["본문"])
df1

                                                      본문
0        63 수 1776차량이 횡단보도를 침범 중이네요\n\n휴일 이라지만 아이들이 없...
1       - 대형차량 지정차고지 위반,\n- 장기주차(밤샘주차) 등으로 신고합니다.\n\n...
2        만성동 시티프라디움-풍경채 사이 회전교차로 불법주차\n전라북도 전주시 덕진구 만...
3        만성동 시티프라디움-풍경채 사이 회전교차로 불법주차\n전라북도 전주시 덕진구 만...
4        만성동 시티프라디움-풍경채 사이 회전교차로 불법주차\n전라북도 전주시 덕진구 만...
...                                                  ...
28019  항상 수고하십니다!\n전북 전주시 완산구 중화산동2가 693-14도로에 놓은 불법적...
28020  해당 민원은 아래와 같이 민원을 제기한 적이 있습니다.\n\n처리기관 접수번호 : ...
28021  현재 에코시티 버스(봉암초등학교 기준)는 102,554,559,970,108이 있습...
28022  환경오염행위  천안논산고속도로 논산방면(하행선)\n전북70 아 5048 버스 차량\...
28023  효자동 유로병원앞 횡단보도에 신호위반 차량이 많아 신호위반카메라설치에대해 문의를 넣...

[28024 rows x 1 columns]

In [9]:
df2 = pd.read_csv("C:/Users/User/Downloads/202211_주소DB_전체분/개선_도로명코드_전체분.txt",sep = "|", encoding = "cp949")
df2.head()

,111102005001,세종대로,Sejong-daero,00,서울특별시,Seoul,종로구,Jongno-gu,Unnamed: 8,Unnamed: 9,2,Unnamed: 11,0,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,111102005001,세종대로,Sejong-daero,1,서울특별시,Seoul,종로구,Jongno-gu,세종로,Sejongno,1,119.0,0,NaN,NaN,NaN,NaN
1,111102005001,세종대로,Sejong-daero,2,서울특별시,Seoul,종로구,Jongno-gu,종로1가,Jongno 1(il)-ga,1,126.0,0,NaN,NaN,NaN,NaN
2,111102100001,삼일대로,Samil-daero,0,서울특별시,Seoul,종로구,Jongno-gu,NaN,NaN,2,NaN,0,NaN,NaN,NaN,NaN
3,111102100001,삼일대로,Samil-daero,1,서울특별시,Seoul,종로구,Jongno-gu,운니동,Unni-dong,1,132.0,0,NaN,NaN,NaN,NaN
4,111102100001,삼일대로,Samil-daero,2,서울특별시,Seoul,종로구,Jongno-gu,경운동,Gyeongun-dong,1,134.0,0,NaN,NaN,NaN,NaN

In [19]:
df3 = df2["세종대로"].unique()
df4 = pd.DataFrame(df3)
df4

                0
0            세종대로
1            삼일대로
2            필운대로
3             통일로
4             동호로
...           ...
140643      갑선이동길
140644      달산망뒷길
140645    호근로93번길
140646  이어도로901번길
140647     용흥악근천길

[140648 rows x 1 columns]

In [20]:
df4.to_csv("도로명.csv", encoding = "cp949")

In [21]:
df = pd.read_csv("전국 주소.csv",sep = ",", encoding = "cp949")
df.head()

      시도  시군구    읍면동         지번  도로명
0  서울특별시  종로구  청운효자동  9999-9999  NaN
1  서울특별시  종로구    사직동  9998-9999  NaN
2  서울특별시  종로구    삼청동  9997-9999  NaN
3  서울특별시  종로구    부암동  9996-9999  NaN
4  서울특별시  종로구    평창동  9995-9999  NaN

In [22]:
df1 = df["시도"].unique()
df2 = pd.DataFrame(df1)
df2

          0
0     서울특별시
1       NaN
2     부산광역시
3     대구광역시
4     인천광역시
5     광주광역시
6     대전광역시
7     울산광역시
8   세종특별자치시
9       경기도
10      강원도
11     충청북도
12     충청남도
13     전라북도
14     전라남도
15     경상북도
16     경상남도
17  제주특별자치도

In [24]:
df2.to_csv("시도.csv", encoding = "cp949")

In [25]:
df = pd.read_csv("전국 주소.csv",sep = ",", encoding = "cp949")
df.head()
df1 = df["시군구"].unique()
df2 = pd.DataFrame(df1)
df2
df2.to_csv("시군구.csv", encoding = "cp949")

In [26]:
df = pd.read_csv("전국 주소.csv",sep = ",", encoding = "cp949")
df.head()
df1 = df["읍면동"].unique()
df2 = pd.DataFrame(df1)
df2
df2.to_csv("읍면동.csv", encoding = "cp949")